:root {
    --button-size: 40px;
}

body {
    font-family: sans-serif;
    text-align: center;
}

/* Pour simplifier le CSS et l'HTML j'ai choisi d'avoir 2 grilles 
 une pour placer la toolbar et le canvas et une pour placer automatique
 les boutons à l'intérieur de la toolbar
*/
.grid {
    display: grid;
    justify-content: center;
    grid-column-gap: 3px;
    /* Notez l'usage du calc pour avoir une taille qui s'adapte toujours au bouton */
    grid-template-columns: calc(var(--button-size) * 2) auto;
}

.toolbar {
    display: grid;
    align-items: start;
    /* Ici j'utilise une autre unité de mesure : le viewport min
    Ca correspond à 1% de la plus petite taille du "viewport" qui est la fenetre visible.
    Si le viewport est plus large que long, alors vmin correspondra à la longeur
    Sinon, il correspondra à la largeur.*/
    grid-template-columns: repeat(2, var(--button-size));
    grid-template-rows: repeat(3, var(--button-size));
    background-color: #cecece;
}

/* Juste pour rendre visible les éléments de la grille */
.toolbar>button,
.toolbar>input {
    height: var(--button-size);
    width: var(--button-size);
    border-style: none;
    background-color: #cecece;
}

.toolbar > .selected {
    background-color: #df8a8a;
}

#canvas {
    border: 2px solid black;
}

/* 
Ici, j'ai cherché à stylisé le petit carré du color picker
en utilisant uniquement des fonctionnalités "natives"
Comme vous pouvez le voir, il n'y a pas de manière unifiée entre les navigateurs
pour le faire et c'est pas forcément la meilleure solution...
Pour plus d'infos :
https://stackoverflow.com/a/47971607
https://stackoverflow.com/a/11471224
https://developer.mozilla.org/fr/docs/Web/CSS/::-moz-color-swatch
*/
input[type=color]::-moz-color-swatch {
    width: 1em;
    height: 1em;
    border-style: none;
}

input[type=color]::-webkit-color-swatch-wrapper {
    /*
    Ne s'adaptera pas à la font comme la solution avec firefox
    Mais si je met width et height, ça marche pas.
    */
    padding: 13.5px;
}

input[type=color]::-webkit-color-swatch {
    border-style: none;
}

/* Petit reset du padding qui genait sous webkit */
input[type="color"] {
    padding: 0;
}